<app-home-link></app-home-link>

<div>
  <h1 class="center-text primary-color">
    Cat Puns 😺
  </h1>
</div>

<div>
  <md-grid-list cols="2" rowHeight="400px">
    <md-grid-tile *ngFor="let pun of catPuns.catPuns">
      <md-card class="card-width-height">
        <img src="/assets/img/cat-emoji.png" alt="cat emoji picture">
        <md-card-content>
          <div>
            Question: {{pun.pun}}
          </div>
          <div>
            Answer: {{pun.answer}}
          </div>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
